{% if articles | length %}
    <div class="row">
        <div class="second col-xs-12 col-sm-6 col-lg-5">
            {% set article = articles[0] %}
            {% include 'v1/article-thumb-1' %}
        </div>

        {% if articles | length > 1 %}
            <div class="first col-xs-12 col-sm-6 col-lg-7">
                {% for i in range(1, 5) %}
                    {% if articles[i] %}
                        {% set article = articles[i] %}
                        {% include 'v1/article-thumb-2' %}
                    {% endif %}
                {% endfor %}
            </div>
            </div>
        {% endif %}
{% endif %}

{% block add_article %}
    {% if articles | length > 5 %}
        <div class="row">
            <div class="col-xs-12">
                {% set article = articles[5] %}
                {% include 'v1/article-thumb-3' %}
            </div>
        </div>
    {% endif %}
{% endblock %}
