{% extends 'html' %}

{% block content %}
    <div id="content-entity-modify" class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ frm }}
            </div>
        </div>
    </div>

{% endblock %}
