{% extends 'html' %}

{% block content %}
    <div id="home" class="container">
        {% for section in sections %}
            {% if latest_articles_by_section[section.alias] %}
                <div class="section">
                    <h2 class="section-title">{{ section.title | e }}</h2>

                    <div class="article-thumbs">
                        {% set section_block_tpl_name = 'v1/article-thumbs-' ~ loop.index %}
                        {% if not tpl_exists(section_block_tpl_name) %}
                            {% set section_block_tpl_name = 'v1/article-thumbs-' ~ (loop.index - 7) %}
                            {% if not tpl_exists(section_block_tpl_name) %}
                                {% set section_block_tpl_name = 'v1/article-thumbs-1' %}
                            {% endif %}
                        {% endif %}

                        {% set articles = latest_articles_by_section[section.alias] %}
                        {% include section_block_tpl_name %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
