<div class="article-thumb v3-1 {{ thumb_css }}">

    <div class="title">{{ article.title | e }}</div>

    <div class="image">
        {{ article.images[0].get_responsive_html(aspect_ratio=1.5) }}

        <div class="meta">
            <div class="inner">
                <div class="date">{{ article.publish_date_pretty }}</div>
                <div class="section"><i class="fa fa-tag"></i>#{{ article.section.title | e }}</div>
            </div>
        </div>
    </div>

    <div class="description">
        {{ article.description | e }}
    </div>

    <a href="{{ article.url }}" class="link"></a>
</div>
