{% extends '$theme@html' %}

{% block content %}
    <div id="http-exception" class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-title">{{ title | e }}</h1>
                {% if traceback and reg_get('debug') %}
                    <pre>{{ traceback | e }}</pre>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

