<!DOCTYPE html>
<html lang="{{ current_lang() }}">

<head>
    {% block metatags %} {{ metatags() }} {% endblock %}
    {% block css_tags %}
        {{ css_tags() }}
        {{ css_tag('font-awesome-4') }}
        {{ css_tag('twitter-bootstrap-3') }}
    {% endblock %}

    {% block js_head_tags %} {{ js_head_tags() }} {% endblock %}
</head>

<body id="application">

{% include 'parts/header' %}

<div id="page">
    {% include 'parts/messages' %}

    {% block content %}{% endblock %}

</div>

{% include 'parts/footer' %}

<div id="go-top"></div>

{% block js_tags %}
    {{ js_tags() }}
    {{ js_tag('common.js') }}
{% endblock %}

{% block inline_js %}
    {{ inline_js() }}
{% endblock %}

</body>
</html>
